@model Pokedex3.Models.Tipo

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Editar el Tipo: @Html.DisplayFor(Type => Type.Tipo1)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <label>Tipo</label>
            <div class="input-group mb-3">
                <input asp-for="Tipo1" type="text" class="form-control" aria-describedby="button-addon2">
                <span asp-validation-for="Tipo1" class="text-danger"></span>
                <div class="input-group-append">
                    <button class="btn btn-outline-success" type="submit" value="Guardar" id="button-addon2">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-dark" asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
