@{
    ViewData["Title"] = "Home Page";
}

    <h3>Programación 3 - Juan David Matos</h3><hr />
    <p class="text-break">
        Esta tarea vale 5 puntos, debe crear un sistema de pokedex utilizando Bootstrap para el diseño del mismo.
    </p>
    <p class="text-break">
        En el mismo en la pagina inicial debe haber un listado de los pokemones que muestre lo siguientes datos (nombre del pokemon,Foto del pokemon, tipo a lo cual pertenece y de que región es).
    </p>
    <p class="text-break">
        Cada pokemon del listado tiene varios opciones una de ella es el detalle del pokemon, en esta opcion se debe mostrar toda su información como las mencionadas anteriormente así como los poderes o ataques que tienen que solo puede ser un máximo de 4 y un minimo de 1.
    </p>
    <p class="text-break">
        Tanto en el listado como en detalle se debe diferenciar por algun color según la región que pertenece el pokemon, ejemplo rojo los de kantos , amarillo lo de johto, etc.
    </p>
    <p class="text-break">
        Se debe poder mantener pokemones(Crear, editar, eliminar, listar y ver detalles) , el pokemon debe de guardarse nombre, los tipos que pertenece que puede ser uno o dos ejemplos(tipo fuego o volador y fuego), los ataques que tiene , la región en la cual pertenece o que apareció por primera vez ejemplo pikachu es de kantos y treecko es de Hoenn.
    </p>
    <p class="text-break">
        Los tipos de pokemon se deben poder mantener (Crear,listar,eliminar y editar).
    </p>
    <p class="text-break">
        Las regiones se deben poder mantener(Crear, editar, eliminar y editar).
    </p>
    <p class="text-break">
        Nota: <br />

        Para crear los pokemones tanto las regiones como los tipos del pokemon se deben de tomar de los creados en el sistema, si no existe al menos una región y un tipo de pokemon creado, no se puede dejar crear o editar a los pokemones
    </p>
 